@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
/* Import Bootstrap CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

section#sidebar a{
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--green: #30b341;
	--light-green: #DFF5A3;
	--purple:#8b33ad;
	--light-purple: #d79bfa;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
	gap: 15px;
}
#sidebar .brand img{
	width: 30px;
	height: 30px;
	margin-left: 17px;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: -30px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}

#sidebar .side-menu li p {
	margin-bottom:0px;
}

#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 250px;
	transition: .3s ease;
}
#content nav #list-nav{
	margin-right: auto;
}
#sidebar.hide ~ #content {
	width: calc(100% - 95px);
	left: 60px;
}

/* NAVBAR */
#content nav {
	width: 102%;
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}

#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
	width: 102%;
	padding: 15px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li:nth-child(4) .bx {
	background: var(--light-green);
	color: var(--green);
}
#content main .box-info li:nth-child(5) .bx {
	background: var(--light-purple);
	color: var(--purple);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}

#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}

#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}

#content main .table-data .order table thead tr th{
	text-align: center;
}

/* MAIN */
/* CONTENT */


@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(102% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}

@media (min-width: 576px) {
    #addTourDialog.modal-dialog, #editTourDialog.modal-dialog, #addTrangTinTuc.modal-dialog, #editTrangTinTuc.modal-dialog{
        max-width: 100%;
    }

	#xemChiTietGopY.modal-dialog{
        max-width: 60%;
		top: -12%;
    }}

#addAccountModal, #addLoaiTourModal, #addHinhAnhModal, #addTheLoaiModal{
	left:900px;
	top: 15%;
}

#addTourModal, #addTrangTinTucModal{
	left: 20%;
    width: 75%;
}

#addModalContent.modal-content, #editModalContent.modal-content{
    padding: 20px;
}

#ModalContent.modal-content{
    width: 802px;
	height: 1203px;
}

button#addTK, button#editTK, button#addLT, button#editLT, button#addT, button#editT, button#addTL, button#editTL, button#addHA, button#editHA, button#addTTT, button#editTTT {
    float: right;
    margin-top: 20px;
}

.modal-body, .modal-title.add, .modal-title.edit{
	color:#060714;
}

.modal-dialog {
    margin: 0; /* Loại bỏ khoảng cách giữa modal và phần trên/dưới */
    padding: 0; /* Loại bỏ padding */
}

#xemChiTietGopY.modal-dialog{
	left:10%;
}

#success-alert {
	position: fixed;
	right: 0px; /* Bắt đầu ngoài màn hình */
	z-index: 9999;
}

#cancelDatTourModal.modal.fade, #confirmDatTourModal.modal.fade{
	top: 35%;
    left: 10%;
}

.modal#deleteAccountModal, .modal#deleteLoaiTourModal{
	left:150px;
}

#deleteModalContent.modal-content{
    margin: 75% auto;
	max-width: 300px;
}

td {
	word-wrap: break-word;
	white-space: normal;
}
  
input#timKiem{
	border-bottom-left-radius: 20px; 
	border-top-left-radius: 20px; 
	border-bottom-right-radius: 0px; 
	border-top-right-radius: 0px;
}

button#timKiem{
	border-bottom-left-radius: 0px; 
	border-top-left-radius: 0px; 
	border-bottom-right-radius: 20px; 
	border-top-right-radius: 20px;
}

.nav-tabs .nav-link {
	font-size: 1.2rem;
	padding: 12px 20px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	color: #fff;
	background-color: #576574;
	margin-right: 10px;
}

.nav-tabs .nav-link.active {
	background-color: #16ca4c;
	color: #fff;
	border-color: transparent;
}


.nav {
    list-style: none;
    padding: 0;
    display: flex;
    margin-bottom: 20px;
}

.nav-item {
    margin-right: 5px;
}

.nav-link {
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 0.5rem; /* Bo tròn 4 góc cho tab */
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.nav-link:hover:not(.active) {
    background-color: #e9ecef;
}

.nav-link.disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}.text-center{
    color: var();
}